<div class="parent pt-5">
    <div class="child1">
        <img class="w-100 h-100" src="../../assets/images/wallpaper.png" alt="">
    </div>
    <div class="child2">
        <h1>Planning Makes Tasks Easy & Flexible</h1>
        <!-- <button class="btn btn-white btn-animate mt-4 px-3 py-2">Get Started!</button> -->
        <button class="learn-more mt-3">
            <span class="circle" aria-hidden="true">
                <span class="icon1 arrow"></span>
            </span>
            <span class="button-text">Get Started</span>
        </button>
    </div>
</div>